.box {
  height: 200px;
  width: 200px;
  background-color: transparent;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
